HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
logs/

### VS Code ###
.vscode/

### Mac ###
.DS_Store

### 本地配置

### 本地脚本
rb
php

### jrebel
**/rebel.xml

### 分布式事务
tmlog.lck
tmlog.lck
tmlog*.log
transaction-logs/


# tmp
rust/
class/
*.c
*.js

data
Dockerfile
